body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #1aff00, #0000ff);
    color: white;
  }
  
  .timer-container {
    display: flex;
    background-color: #00c3ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .time-box {
    align-items: center;
    margin: 0 10px;
    background-color: #02fce3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(196, 1, 1, 0.555);
  }
  
  .time-number {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
  }
  
  .time-label {
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
  }
  